* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background: url("https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg") no-repeat center center fixed;
    background-size: cover;
}

#footer-color,
#nav-color {
    background-color: #E8D0A9 !important;
}

.flashes h4 {
    line-height: 2;
}

/*
#bg-home,
#bg-bookgallery,
#bg-addbook {
    background: url("https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg") no-repeat center center fixed;
    background-size: cover;
}
*/

#searchbox {
     margin-top: 10px;
}

.jumbotron { 
  padding: 30px; /* fills out the jumbotron */
  background-color: #eef7f9;
  border: 2px solid black;
}

.card {
    max-width: 300px!important;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

.btn-large {
    margin: auto;
}

.btn-submit, 
.row {
    margin: auto !important;
}

.footer {
  flex-shrink: 0;
}