@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
        -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px !important;
}

.form {
    height: 50%;
    width: 50%;

}

html, 
body {
  height: 100%;
  color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    background: url("https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}


 /*NAVBAR*/

 .brand-logo {
     margin-left: 2rem;
 }

nav ul {
    margin: 0 3rem 0 0;
}

/*FORMS*/

#modal-book {
    width: 30%;
}

.modal-content {
    color: #000;
}

/*BUTTONS*/

/*CARDS*/

.ccc {
    margin-bottom: 7rem;
}

.card {
    max-width: 30rem!important;
    height: 67.5rem;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.85);
}

img {
    height: 45rem;
}

.description-card {
    padding: 1.2rem 2.4rem;
}

.reveal-content {
    color: #000;
    margin-top: 2rem;
}

/*COLORS  #E8D0A9*/

#color-footer,
#color-nav {
    background-color: #dabe8f !important;
}

.material-icons {
    color: #dabe8f !important;
}

.flashes h4 {
    line-height: 2;
    color: #fff;
}


.jumbotron-text {
    margin-right: 1rem;
    line-height: 0.5rem;
}

#searchbox {
     margin-top: 1rem;
}

.jumbotron-landingpage {
    margin-top: 14.4rem;
    margin-bottom: 14.4rem;
    width: 88rem;
}

.jumbotron { 
  padding: 3rem; 
  background-color: rgba(0, 0, 0, 0.85);
  border: 0.2rem solid black;
}

.searchbox-container {
    margin-bottom: 5rem;
    margin-top: 4rem;
    width: 117rem;
}

.btn-large, 
.btn-submit, 
.row {
    margin: auto !important;
}

.btn-reset {
    margin-right: 1.5rem;
    background-color: #c60e00;
}

.btn-submit,
.btn-addbook {
    background-color: #528c59;
}


/*FOOTER*/

.footer {
 -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container-footer {
    margin-bottom: 3rem;
}

.list-inline {
  padding-left: 0;
  margin-left: -0.5rem;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}


/*MEDIA QUERIES*/