{% extends 'base.html' %} {% block content %}

<section class="forms">
  <div class="container jumbotron jumbotron-landingpage">
    <div class="center-align">
      <h3 class="form-heading">Add Book</h3>
    </div>

    <form class="col s12" action="{{ url_for('add_book') }}" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">create</i>
          <label for="title">Title: </label>
          <input
            name="title"
            id="title"
            type="text"
            data-length="40"
            class="validate"
          />
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person</i>
          <label for="author">Author: </label>
          <input
            name="author"
            id="author"
            type="text"
            data-length="40"
            class="validate"
          />
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">collections</i>
          <label for="description">Description: </label>
          <input
            name="description"
            id="description"
            type="text"
            data-length="100"
            class="validate"
          />
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">link</i>
          <label for="cover_url">Link To Book Cover Image: </label>
          <input name="cover_url" id="cover_url" type="text" class="validate" />
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">link</i>
          <label for="amazon_url">Link to URL at Amazon: </label>
          <input
            name="amazon_url"
            id="amazon_url"
            type="text"
            class="validate"
          />
        </div>
      </div>

      <div class="center-align">
        <button
          class="btn-large waves-effect btn-addbook"
          type="submit"
          name="action"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
