<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Books For Life</title>
</head>

<body>
	<!--Navbar-->
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{url_for('landing_page')}}" class="brand-logo">Books For Life</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('book_gallery')}}">Book Gallery</a></li>
					<li><a href="{{url_for('add_book')}}">Add Book</a></li>
					<li><a href="{{url_for('personal_account')}}">Account</a></li>
					<li><a href="{{url_for('logout')}}">Sign Out</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="{{url_for('book_gallery')}}">Book Gallery</a></li>
					<li><a href="{{url_for('add_book')}}">Add Book</a></li>
					<li><a href="{{url_for('personal_account')}}">Account</a></li>
                    <li><a href="{{url_for('logout')}}">Sign Out</a></li>
				</ul>
			</div>
		</nav>
	</header>
{% block content %}
{% endblock %}
    	<!--Footer-->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">About</h5>
					<p class="grey-text text-lighten-4">lorem ipsum</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Social Media</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Pinterest</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			 Copyright © Books For Life 2020. All rights reserved.
			</div>
		</div>
	</footer>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>