{% extends 'base.html' %} {% block content %}

<div class="container">
<div>
  <h3>BOOK GALLERY</h3>
</div>

<!--Search Bar-->
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" id="autocomplete-input" class="autocomplete" />
        <label for="autocomplete-input">Search Book</label>
      </div>
    </div>
  </div>
</div>

<!--Cards-->
<div class="row">
{% for review in reviews %}
  <div class="col s12 m6">
    <div class="card sticky-action">

      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ review.cover_url }}" />
      </div>
      
      <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><strong>{{ review.title }}</strong></span>
      <p>{{ review.author}} </p>
      </div>
      
        <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Description</div>
      <div class="collapsible-body"><span>{{ review.description }}</span></div>
    </li>
  </ul>
  <!--
       <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ review.title }}<i class="material-icons right">close</i></span>
      <p> {{ review.description }}</p>
    </div>
-->  
      <div class="card-action">
       <span><a href="{{ review.amazon_url }}"  target="_blank"><i class="material-icons">shopping_cart</i></a></span>
        <span><a href="#"><i class="material-icons">edit</i></a></span> 
        <span><a href="{{url_for('delete_review', review_id=review._id)}}"><i class="material-icons">delete</i></a></span>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
      </div>

    </div>
    </div>
    </div>
</div>
{% endfor %}
{% endblock %}