{% extends 'base.html' %} {% block content %}

<div id="searchbox">

  <div class="container jumbotron searchbox-container">
    <div class="center-align">
      <h3>BOOK GALLERY</h3>
      <p>
              {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="row flashes">
                    <h4 class="center-align">{{ message }}</h4>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </p>
    </div>


  <!--Search Bar-->
 
  <div class="row col s12">
      
      <form action="{{ url_for('search') }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
          <div class="input-field input-search col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" name="query" id="query" minlength="3" class="validate" required />
            <label for="query">Search Book</label>
          </div>

          <div class="col s12 m4">
            <a href="{{ url_for('gallery') }}" class="btn btn-reset">Reset</a>
            <button type="submit" class="btn btn-addbook">Search</button>
          </div>

        </div>
      </form>
  </div>
  </div>

  <!--Cards-->
  {% for review in reviews %}
  <div class="row">
    <div class="container">
      <div class="col s12 m4 ccc">
        <div class="card sticky-action hoverable">
          
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ review.cover_url }}" />
          </div>
          <hr />

          <div class="card-content">
            <span class="card-title activator"><strong>{{ review.title }}</strong></span>
            <p>{{ review.author}}</p>
          </div>
          
          <hr />

          <div class="activator description-card">
            Description<i class="material-icons right">expand_more</i>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"
              ><i class="material-icons right">close</i
              ><strong>{{ review.title }}</strong></span>
            <hr />
            <p class="reveal-content">{{ review.description }}</p>
          </div>

          <div class="card-action">
            <span
              ><a
                href="{{url_for('edit_review', review_id=review._id)}}"
                class="tooltipped"
                data-position="bottom"
                data-tooltip="Edit"
                ><i class="material-icons">edit</i></a
              ></span
            >
            <!--
          <span
              ><a
                href="{{url_for('delete_review', review_id=review._id)}}"
                class="tooltipped"
                data-position="bottom"
                data-tooltip="Delete"
                ><i class="material-icons">delete</i></a
              ></span
            >
            <span class="right"
              >
              -->

            
            <span
              ><a
                href="#{{ review.title }}"
                class="modal-trigger tooltipped"
                data-position="bottom"
                data-tooltip="Delete"
                ><i class="material-icons">delete</i></a
              ></span
            >
            <span class="right"
              >
           
              <a
                href="{{ review.amazon_url }}"
                target="_blank"
                class="tooltipped"
                data-position="bottom"
                data-tooltip="Buy"
                ><i class="material-icons">shopping_cart</i></a
              ></span
            >
            </div>


            <div id="{{ review.title }}" class="modal">
              <div class="modal-content">
                <h4>Are you sure you want to delete <a
                href="{{ review.title }}">{{ review.title }} ?</a></h4>
              </div>
              <div class="modal-footer">
                <a
                  href="#"
                  class="modal-close waves-effect waves-green btn-flat"
                  >Cancel</a
                >
                <a
                  href="{{url_for('delete_review', review_id=review._id)}}"
                  class="waves-effect waves-green btn-flat"
                  data-position="bottom"
                  >Delete</a
                >
              </div>
            
          </div>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
{% endblock %}