{% extends 'base.html' %} {% block content %}
<div class="container jumbotron">
  <div class="center-align">
    <h3>LOGIN</h3>
  </div>

  <form class="col s12" action="/login" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <label for="username">Username: </label>
        <input
          name="username"
          id="username"
          type="text"
          minlength="5"
          maxlength="15"
          data-length="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <label for="password">Password: </label>
        <input
          name="password"
          id="password"
          type="password"
          minlength="5"
          maxlength="15"
          data-length="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
      </div>
    </div>

    <div class="center-align">
      <div class="btn-whitespace">
        <button
          class="btn-large waves-effect btn-submit"
          type="submit"
          name="action"
        >
          Submit
        </button>
      </div>
      <div class="jumbotron-whitespace">
        <span class="jumbotron-text">Not a member yet?</span
        ><span><a href="{{ url_for('signup')}}">Sign up here</a></span>
      </div>
    </div>
  </form>
</div>
{% endblock %}
